name: pr

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  pr:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '22.x'
          cache: 'npm'

      - name: install dependencies
        run: |
          shopt -s inherit_errexit
          set -xeEo pipefail

          sudo apt-get -qq update
          sudo curl -fsSLo /usr/share/keyrings/brave-browser-nightly-archive-keyring.gpg https://brave-browser-apt-nightly.s3.brave.com/brave-browser-nightly-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/brave-browser-nightly-archive-keyring.gpg] https://brave-browser-apt-nightly.s3.brave.com/ stable main"|sudo tee /etc/apt/sources.list.d/brave-browser-nightly.list
          sudo apt-get -qq update
          sudo apt-get -qq --no-install-recommends install brave-browser-nightly

      - name: install npm dependencies
        run: npm ci

      - name: lint
        run: npm run lint

      - name: test
        run: |
          set -xeEo pipefail
          PAGEGRAPH_CRAWL_TEST_BINARY_PATH=/opt/brave.com/brave-nightly/brave-browser-nightly PAGEGRAPH_DISABLE_SETUID_SANDBOX=true npm run test
