name: pr

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  pr:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22.x'

      - name: install dependencies
        run: |
          shopt -s inherit_errexit
          set -xeEo pipefail

          sudo apt-get -qq update
          sudo curl -fsSLo /usr/share/keyrings/brave-browser-nightly-archive-keyring.gpg https://brave-browser-apt-nightly.s3.brave.com/brave-browser-nightly-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/brave-browser-nightly-archive-keyring.gpg] https://brave-browser-apt-nightly.s3.brave.com/ stable main"|sudo tee /etc/apt/sources.list.d/brave-browser-nightly.list
          sudo apt-get -qq update
          sudo apt-get -qq --no-install-recommends install brave-browser-nightly

      - name: test
        run: |
          shopt -s inherit_errexit
          set -xeEo pipefail
          npm install
          PAGEGRAPH_CRAWL_TEST_BINARY_PATH=/opt/brave.com/brave-nightly/brave-browser-nightly npm run test
